{% extends "root.html" %}
{% block titulo %}Home{% endblock %}
{% block headers %}
<link rel="stylesheet" href="./fondo.css">
{% endblock %}
{% block principal %}
<div class="fondoBurbujas">{% include 'fondo.html' %}</div>
<div class="text-center text-white adelantefondo">
    <div>
      <h1 class="display-5">Bienvenida</h1>
      <h2 class="lead">Subtitulo</h2>
    </div>
    <div class="mx-auto" style= "width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <p class="texto">Buenos dias</p>
    </div>
</div>
{% endblock %}