{% extends "root.html" %}
{% block titulo %}Home{% endblock %}
{% block headers %}
<link rel="stylesheet" href="./fondo.css">
{% endblock %}
{% block principal %}
<div class="fondoBurbujas">{% include 'fondo.html' %}</div>
<div class="principal adelantefondo">
    <h1>Bienvenida</h1>
    <p class="texto">Buenos dias</p>
    <img id="separador" class="separador-abajo" src="imagenes/separador.png" alt="">
</div>
<div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <img id="separador" class="separador-arriba" src="imagenes/separador.png" alt="">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>
{% endblock %}