{% extends "root.html" %}
{% block titulo %}Home{% endblock %}
{% block headers %}
<link rel="stylesheet" href="./fondo.css">
{% endblock %}
{% block principal %}
<div class="fondoBurbujas">{% include 'fondo.html' %}</div>
<div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden adelantefondo" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="my-3 py-3">
      <h2 class="display-5">Bienvenida</h2>
      <p class="lead">Subtitulo</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="background-color: rgb(255, 253, 253, 0.6); width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <p class="texto">Buenos dias</p>
    </div>
    <img id="separador" class="separador-abajo" src="imagenes/separador.png" alt="">
</div>
{% endblock %}