<!DOCTYPE html>
<!-- h1 titulo h3 aclaraciones h2 subtitulos h6 creditos -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block titulo %}{% endblock %}
        </title>
        {% block headers %}{% endblock %}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="./javascript.js" defer></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
        <link href="icon.ico" rel="shortcut icon">
    </head>
    <body class="body">
        <nav class="navbar navbar-expand-lg adelantefondo">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link disabled" href="calorimetria.html">Muestra 1</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link disabled" href="astrofisica.html">Muestra 2</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link disabled" href="mediciones.html">Muestra 3</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link disabled" href="pelopincho.html">Contacto</a>
                </li> 
              </ul>
            </div>
        </nav>
            {% block principal %}{% endblock %}
    </body>
</html>