.body{
    background-color: rgba(114, 146, 156, 0.774);
}
.principal{
    width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%;
	z-index: 1;
}
.principal h3 {
color: #002c72;
	font-size: 3.2rem;
	text-transform: uppercase;
}

.principal h2 {
padding: 0 2rem;
}

.btn {
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	padding: .5rem 1.1rem;
	font-size: .9rem;
	 border-color: #ffffff !important;
}

.btn:hover {
	  background-color: #ffffff;
		color: rgb(0, 0, 0);
}

h3.heading {
	color:#7cafff;
	text-align: center;
	font-size: 1.9rem;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

h2.heading {
	color: white;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.principal h2 {
	text-align: center;
	font-size: 1.1rem;
	color:white;
	padding-bottom: 2rem;
}

@keyframes fadein { 
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }

  @keyframes slidein {
	from {
	  margin-left: 100%;
	}
  
	to {
	  margin-left: 0%;
	}
  }
  

#slide {
    position: absolute;
    left: -100px;
	opacity: 0;
	-webkit-animation: slidein 1s;
    -webkit-animation-delay: 2s;
    animation: slidein 1s;
    animation-delay: 2s;
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 2s;
    animation: fadein 2s;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.fondoBurbujas{
    z-index: -1;
    height: 0%;
}
.adelantefondo{
    z-index: 2;
}
h1{
    text-align: center;
    font-family: Arial;
    color: black;
}
.creditos{
    color: grey;
    font-size: 15;
    text-align: left;
}
.aclaraciones{
    color: grey;
    text-align: left;
    font-family: Cambria;
    margin-left: 2%;
    margin-right: 2%;
}
.texto{
    font-family: Georgia;
    font-size: large;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.imagenes{
    width: inherit;
    height: 10%;
    margin-left: 25%;
    /*margin-right: 2%;*/
    
}