.body{
    background-color: lightblue;
}
#separador {
    width: 100% !important;
    height: 7rem !important;
    z-index: 1 !important;
  }
.separador-abajo {
    filter: drop-shadow(2px -10px 5px rgba(0, 0, 0, 0.2));
    margin-top: 3rem;
    margin-bottom: -7px;
}
.separador-arriba{
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.2));
    margin-bottom: 3rem;
  }
.principal{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: auto;
}
.fondoBurbujas{
    z-index: -1;
    height: 0%;
}
.adelantefondo{
    z-index: 2;
}
h1{
    text-align: center;
    font-family: Arial;
    color: black;
}
.creditos{
    color: grey;
    font-size: 15;
    text-align: left;
}
.aclaraciones{
    color: grey;
    text-align: left;
    font-family: Cambria;
    margin-left: 2%;
    margin-right: 2%;
}
.texto{
    font-family: Georgia;
    font-size: large;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.imagenes{
    width: inherit;
    height: 10%;
    margin-left: 25%;
    /*margin-right: 2%;*/
    
}