.body{
    background-color: lightblue;
}
.principal{
    background-color: rgba(0, 0, 0, 0.027);
    width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%;
	z-index: 1;
}
.principal h3 {
color: #7cafff;
	font-size: 3.2rem;
	text-transform: uppercase;
}

.principal h2 {
padding: 0 2rem;
}

.btn {
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	padding: .5rem 1.1rem;
	font-size: .9rem;
	 border-color: #7cafff !important;
}

.btn:hover {
	  background-color: #7cafff;
		color: white;
}

h3.heading {
	color:#7cafff;
	text-align: center;
	font-size: 1.9rem;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

h2.heading {
	color: white;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.principal h2 {
	text-align: center;
	font-size: 1.1rem;
	color:white;
	padding-bottom: 2rem;
}

.fondoBurbujas{
    z-index: -1;
    height: 0%;
}
.adelantefondo{
    z-index: 2;
}
h1{
    text-align: center;
    font-family: Arial;
    color: black;
}
.creditos{
    color: grey;
    font-size: 15;
    text-align: left;
}
.aclaraciones{
    color: grey;
    text-align: left;
    font-family: Cambria;
    margin-left: 2%;
    margin-right: 2%;
}
.texto{
    font-family: Georgia;
    font-size: large;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.imagenes{
    width: inherit;
    height: 10%;
    margin-left: 25%;
    /*margin-right: 2%;*/
    
}